
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ceaecc;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    flex: 1; 
}


header {
    background: #af4c72;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
}

header h1 {
    float: left;
    margin: 0;
    padding: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.blog-post {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog-post h2 {
    margin-top: 0;
}

.blog-post .meta {
    color: #777;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.blog-post img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.blog-post .read-more {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #af4c72;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.blog-post .read-more:hover {
    background: #af4c72;
}


footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto; 
}

img{
    width: 35vh;
}